{% extends 'layout.html' %}
{% block title %}
    Forgot password
{% endblock %}

{% block body %}
<div class="auth">

<div class="auth">

    <div class="card mt-5" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title pb-3 border-bottom">Forgot password</h5>
          {% if error %}
            <div class="alert alert-danger mt-3 mb-3">
                {{ error }}
            </div>
          {% endif %}
         {% if success %}
            <div class="alert alert-success mt-3 mb-3">
                {{ success }}
            </div>
          {% endif %}
          <form action="{% url 'forgot_password' %}" method="post">
              {% csrf_token %}
                {{ form }}
              <button type="submit" class="btn btn-primary form-control mb-3">Send email</button>
              <a href="" class="text-decoration-none">Go to home screen ?</a>
          </form>
      </div>
    </div>

</div>

</div>
{% endblock %}