{% extends 'layout.html' %}
{% block title %}
    Sign up
{% endblock %}

{% block body %}
<div class="auth">

    <div class="card mt-5" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title pb-3 border-bottom">Sign up</h5>
          {% if error %}
            <div class="alert alert-danger mt-3 mb-3">
                {{ error }}
            </div>
          {% endif %}
          <form action="{% url 'signup' %}" method="POST">
              {% csrf_token %}
                {{ form }}
              <button type="submit" class="btn btn-primary form-control mb-3">Sign up</button>
              <p>Do you already have an account? <a href="{% url 'login' %}">Login</a> </p>
          </form>
      </div>
    </div>

</div>
{% endblock %}