{% extends 'layout.html' %}
{% block title %}
    Reset password
{% endblock %}

{% block body %}
<div class="auth">

<div class="auth">

    <div class="card mt-5" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title pb-3 border-bottom">Reset password</h5>
          {% if error %}
            <div class="alert alert-danger mt-3 mb-3">
                {{ error }}
            </div>
          {% endif %}
          <form action="{% url 'reset_password' token %}" method="post">
              {% csrf_token %}
                {{ form }}
              <button type="submit" class="btn btn-primary form-control mb-3">Reset password</button>
          </form>
      </div>
    </div>

</div>

</div>
{% endblock %}